{% extends "layout.twig" %}

{% block content %}


<div class="mast-container" id="mast-container">
    <div class="mast" id="mast">
        <div class="background-cover" id="background-cover"></div>

        <div class="content">
            <h1>Based in the<br> creative quarter of<br> the second city,<br> <span class="light">One Black Bear</span> are <br> experts in all things <br><span class="highlight">digital</span>& <span class="highlight">design</span>.</h1>
            <h1><span class="light">We are bear</span></h1>
        </div>
    </div>
</div>


<div class="slider col-right" id="slider">
    <!-- extra slide needed for fullscreen transition -->
    <div class="slide" id="extra-slide" >
        <div class="slider-cover" style="background-color: rgba(208, 0, 0, 1);"></div>
    </div>
    <div class="slide" id="main-block" style="background-image:url({{paths.theme}}img/slider-1.jpg)">
        <div class="slider-cover" style="background-color: rgb(208, 0, 0);"></div>
        <div class="slider-content image right-small">
            <h4>latest work</h4>
            <h1>A new online<br> home for youth<br> homelessness<br> charity</h1>
            <a class="button over-background next" href="article.html"><i class="fa fa-angle-right"></i>View story</a>
        </div>
    </div>

     <div class="slide" id="main-block" style="background-image:url({{paths.theme}}img/slider-2.jpg)">
        <div class="slider-cover" style="background-color: rgb(160, 148, 126);"></div>
        <div class="slider-content image right-small">
            <h4>Talbots group</h4>
            <h1>New identity for<br> company with<br> Birmingham<br> heritage</h1>
            <a class="button over-background next" href="article.html"><i class="fa fa-angle-right"></i>View story</a>
        </div>
    </div>

     <div class="slide" id="main-block" >
        <div class="slider-cover"></div>
        <div class="slider-content text-left left">

            <h1>Like what you see?<br> We’d love to hear from<br> you. Why not <a href="">get in<br> touch</a>, <a href="">pop over</a>, or<br> <a href="">brief us</a> now?</h1>
        </div>
    </div>
</div>

{% endblock %}